
/* everything fits on the phonescreen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
h1{
    font-family: monospace;
    font-size: 50px;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
#reader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
/* #result is a alert elemen */

#result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgba(6, 203, 26, 0.5);
    z-index: 100;
    font-family: monospace;
    font-size: 50px;
    display: none;
}
#result h1{
    font-size: 100px;
    color: #fff;
}
/* phone size */

/* all fonts fits on screen */
@media only screen and (max-width: 1000px) {
    h1{
        font-size: 30px;
    }
    /*max no scroll*/
    body{
        max-height: 100vh;
        overflow: hidden;
    }
    /* #result is a alert element that adapts to screensize */
    #result{
        
        font-size: 30px;
    }
    #result h1{
        font-size: 50px;
    }
    
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    /*max no scroll*/
    body{
        max-height: 100vh;
        overflow: hidden;
    }
    /* #result is a alert element that adapts to screensize */
    #result{
        font-size: 30px;
    }
    #result h1{
        font-size: 50px;
    }
    
}
